---
---

@import "{{ site.theme }}";
header {
  width: 250px;
  float: left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased
}
.wrapper {
  width:1000px;
  margin:0 auto
}
section {
  width: 750px;
  float: right;
  padding-bottom: 50px;
}
