---
---

@import "{{ site.theme }}";
header {
  width:270px;
  float:right;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased
}
.wrapper {
  width:1280px;
  margin:0 auto
}
section {
  width: auto;
  float: none;
  padding-bottom: 50px;
}
